/* default styles for all views */
body {
	margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.container {
	max-width: 992px;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section {
	background-color: #f2f2f2;
	border: 1px solid black;
	position: relative;
	margin-bottom: 20px;
	width: 30%;
}

h2 {
	text-align: center;
	margin-top: 0;
	border: 1px solid black;
	}

#section1{
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	background-color: red;
	}

	#section2{
		float: right;
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		background-color: red;
		}

		#section3{
			float: right;
			position: relative;
			padding-left: 20px;
			padding-right: 20px;
			background-color: red;
			}
		
p {
	margin-top: 30px;
	font-size: 12px;
	padding: 10px;
}
/* tablet view */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .section {
		flex-basis: 45%;
		}
    .section:nth-child(3) {
        flex-basis: 100%;
    }
}

/* mobile view */
@media screen and (max-width: 767px) {
    .section {
        flex-basis: 100%;
    }

}
